.boton{
    width: 100px;
    height: 50px;
}

.boton::before{
    content: "Pasa por encima";
}

.boton:hover{
    color: white;
    background-color: green;
    }

.boton:focus::before{
    content: none;
}

.boton:focus:after{
    content: "Hecho!";
}
    
